<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>test</title>
</head>
	<body>
		<form method="POST" action="/bbs" th:object = "${formModel}">
			<h1>新規ユーザー登録</h1>
			<label>名前</label><input type="text" name="name">
			<label>年齢</label><input type="text" name="age">			
			<label>メール</label><input type="text" name="mail">
			<label>パスワード</label><input type="pass" name="pass">
			<input type ="submit" value="登録">
		</form>
		<h1>顧客リスト</h1>
		<table>
		<tr><th>登録者番号</th><th>名前</th><th>年齢</th><th>メールアドレス</th><th>パスワード</th></tr>
		<tr th:each="c : ${customers}">
			<td th:text="${c.id}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.age}+'才'"></td>
			<td th:text="${c.mail}"></td>
		<td>見せられないよ</td>
		</tr>
		</table>

	</body>
</html>